#modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: #282c34;
    border: 2px solid #000;
    box-shadow: 24;
    padding: 20px;
    border-radius: 50;
}


#inner-modal-container {
    display: flex;
    flex-direction: column;
    padding: 0;
}

#top-row {
    display: flex;
    flex: 1;
    margin-bottom: 20px;
}

#middle-row {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#bottom-row {
    display: flex;
    flex: 1;
}

#middle-left-container {
    text-align: left;
    flex: 1;
}

#middle-right-container {
    text-align: right;
    flex: 1;
}

#description-input {
    flex: 1;
    background-color: #212224;
    padding: 20px;
    border-radius: 5px;
    -webkit-text-fill-color: white;
}