#description-tb {
    color: 'white' !important;
    cursor: default !important;
    -webkit-text-fill-color: white !important;
    -webkit-text-stroke-color: white !important;
    margin-top: 30px;
}

#description-tb:disabled {
    color: 'white' !important;
    cursor: default !important;
    -webkit-text-fill-color: white !important;
    -webkit-text-stroke-color: white !important;
    margin-top: 30px;
}