#question-table-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-table {
  border-collapse: collapse;
  text-overflow: ellipsis;
}

.question-th {
  background-color: #212224;
  color: white;
  border: 1px solid #999999 !important;
  padding: 5px;
}

.question-td {
  color: white;
  border: 1px solid #999999 !important;
  padding: 5px;
  overflow-x: hidden;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.question-tr:hover {
  background-color: #212224;
  cursor: pointer;
}