#modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: #282c34;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 20px;
  border-radius: 50;
}


#inner-modal-container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#middle-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

#modal-title {
  flex: 1;
}

#x-btn {
  flex: 1;
  text-align: right;
  align-items: center;
}

#title-input,
#link-input {
  color: white;
  margin-top: 10px;
  width: 100%;
  background-color: #212224;
  padding: 10px;
  border-radius: 5px;
}

#description-input {
  color: white;
  width: 100%;
  background-color: #212224;
  padding: 20px;
}

#categories-setter-container {
  display: flex;
  flex: 2;
  margin-right: 5px;
}

#complexity-setter-container {
  display: flex;
  flex: 1
}

#save-btn {
  margin-top: 10px;
  width: 150px;
  background-color: #212224;
  color: white;
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  font-size: small;
  text-transform: capitalize;
  border-radius: 5px;
  align-self: flex-end;
}

.input-label {
  -webkit-text-fill-color: #7e7e7e;
}

.select {
  -webkit-text-fill-color: white;
  background-color: #212224;
}